# Django Core
Django>=4.0,<5.0
djangorestframework

# CORS
django-cors-headers

# Environment Variables
python-dotenv

# HTTP Requests
requests

# PostgreSQL (opcional, para producción)
# psycopg2-binary

